MartinCongDemo/src/test/Resources/META-INF/myXsd.xsd

<?xml version="1.0" encoding="utf-8" ?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.spingdata.cn/user"
        xmlns:tns="http://www.spingdata.cn/user"
        elementFormDefault="qualified">



    <element name="user">
        <complexType>
            <attribute name="id" type="string"/>
            <attribute name="userName" type="string"/>
            <attribute name="email" type="string"/>
        </complexType>
    </element>

</schema>